U4/repaso-xsd/ejercicio2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="velocidadType">
        <xs:restriction base="xs:integer">
            <xs:minExclusive value="50"></xs:minExclusive>
            <xs:maxExclusive value="300"></xs:maxExclusive>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="vehiculos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="vehiculo" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="1">
                            <xs:element name="marca" type="xs:string" />
                            <xs:element name="modelo" type="xs:string" />
                            <xs:element name="velocidad" type="velocidadType"/>
                        </xs:choice>
                        <xs:attribute name="tipo" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>